# Django specific
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/

# Environment variables
.env

# VSCode specific
.vscode/

# PyCharm specific
.idea/

# macOS specific
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Test coverage reports
htmlcov/
*.cover
.coverage
.coverage.*
.cache
.nox/
nosetests.xml
coverage.xml
*.coveragerc
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Node.js
node_modules/

# Static and media files (if generated locally)
staticfiles/
mediafiles/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Backup files
*.bak
*.swp
*.swo
